REACT_APP_API_URL=https://compintel-ul49.onrender.com/api
DATABASE_URL=postgresql://postgres.znwsjcpthwkptqcedszd:RakshithaPrem@123@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
PORT=4000
